<div class="jumbotron" style=" position:relative; background: transparent !important; padding: 0px !important; padding-top: 30px !important; ">
    <img src="~/img/worktime_logo_titre.svg" />
@*     <p style="position:absolute;bottom:8px;right:8px"><b>JARDIDEAL </b> Version 1.0</p>
 *@
 <p style="position:absolute;bottom:8px;right:8px"><b>JCP </b> Version 1.0</p>
 @*    <p style="position:absolute;bottom:8px;right:8px"><b>JARDIDEAL </b> Version 1.0</p>
 *@
</div>
<div style="display:flex; min-height:360px">
    <div class="col-4">
        <h2>
            Configurez<br />
            étape par étape
        </h2>
        <div style="display:flex;align-items:baseline"><h4>1.&nbsp;</h4><a asp-action="Index" asp-controller="User">Création des utilisateurs</a></div>
        <div style="display:flex;align-items:baseline"><h4>2.&nbsp;</h4><a asp-action="Index" asp-controller="Employee">Enregistrement des collaborateurs</a></div>
        <div style="display:flex;align-items:baseline"><h4>3.&nbsp;</h4><a asp-action="Index" asp-controller="Pointer">Création de la pointeuse</a></div>
    </div>
    <div class="col-4">
        <h2>Passages</h2>
        <div style="display:flex;align-items:baseline"><h4>1.&nbsp;</h4><a asp-action="Index" asp-controller="MajPassage">Visualisez la présence des collaborateurs à la journée</a></div>
        <div style="display:flex;align-items:baseline">
            <h4>2.&nbsp;</h4><p>
                API extraction données XLS<br />
                api/worktime/passage/filter?From=2023-06-21 12:30:00&end=2023-06-23 12:30:00
            </p>
        </div>
    </div>
</div>