@model Worktime.Models.User
@{
    ViewData["Title"] = "Connexion";
    var rurl = (string)ViewData["returnUrl"];
}

@if (User.Identity.IsAuthenticated)
{
    <script>
        location.href = window.location.href.replace('/home/login?returnurl=', '');
    </script>
}
else
{
    <div class="jumbotron" style="background: transparent !important; padding: 0px !important; padding-top: 30px !important; text-align: center;">
        <img src="~/img/worktime_logo_titre.png" style="display: inline-block;" />
    </div>

    <div class="row" style="justify-content:center">
        <div class="col-md-6">
            <form asp-action="Login" asp-route-returnurl="@rurl" style="margin-top:40px">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Login" class="form-control" placeholder="mail" value="@ViewData["login"]" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:30px">
                    <div class="input-group" id="show_hide_password">
                        <input class="form-control" type="password" asp-for="Mdp" placeholder="votre mot de passe">
                        <div class="input-group-addon">
                            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                        </div>
                        <span asp-validation-for="Mdp" class="text-danger"></span>
                    </div>               
                </div>
                <div class="form-group">
                    <input type="submit" value="Valider" class="btn btn-primary my-2" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a href="" data-toggle="modal" data-target="#oubliModal">Mot de passe oublié</a>
    </div>
    <!-- Modal Oubli Mdp -->
    <div class="modal fade" id="oubliModal" tabindex="-1" role="dialog" aria-labelledby="oubliModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header alert-primary">
                    <h5 class="modal-title" id="oubliModalLabel">Mot de passe oublié</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label text-primary">Indiqué ici l'adresse avec laquelle vous recevez le courrier électronique de Totem.</label>
                        <input required id="txtAdresseMail" class="form-control" type="email" placeholder="votre adresse mail" />
                    </div>
                    <div class="alert alert-success" role="alert">
                        Les identifiants ont étés envoyés.
                    </div>
                    <div class="alert alert-info" role="alert">
                        Adresse mail inconnue.
                    </div>
                    <div class="alert alert-warning" role="alert">
                        Format d'adresse mail non reconnue.
                    </div>
                    <div class="alert alert-danger" role="alert">
                        Erreur lors de l'envoi du mot de passe.
                    </div>
                </div>
                <div class="d-flex justify-content-center" style="margin-bottom:10px">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Chargement...</span>
                    </div>
                </div>
                <div class="modal-footer alert-primary">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button id="btnEnvoyer" class="btn btn-primary my-2">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        function ValidateEmail(adrEmail)
        {
            var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            if (adrEmail.match(mailformat))
                return true;
            else {
                $(".alert-warning").show();
                return false;
            }
        }
    </script>
}
