@using System.Security.Claims

<button type="button" class="rechcollapsible">Add Passage</button>
<div class="rechcontent">
    <form method="post" asp-action="AddPassage" asp-controller="MajPassage">
        <div class="form-row">
            <div class="col-2">
                <input id="majBeginDate" name="majBeginDate" class="form-control" value="@ViewBag.majBeginDate.Date.ToString("yyyy-MM-dd")" type="hidden" />
            </div>
            <div class="col-2">
                <label class="control-label my-2">SSN</label>
                <input id="SSN" name="SSN" class="form-control" value="@ViewBag.SSN" type="text" readonly/>
            </div>
            <div class="col-2">
                <label class="control-label my-2">Time</label>
                <input type="text" id="timePickerInput" name="Time" class="form-control timepicker" />
            </div>

            <div class="col p-2 text-center">
                <input id="btnRechercher" type="submit" value="ENREGISTRER" class="btn btn-danger" />
            </div>
        </div>
    </form>
</div>